*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: grey;
    text-align: center;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
}